<section class="listar-curriculos">
    <!-- property do data binding *ngFor -->
    <div *ngFor="let curriculo of curriculos">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Código do curriculo: {{curriculo.id}}</h5>
                <h5 class="card-title">curriculo: {{curriculo.nome}}</h5>
                <h5 class="card-title">Idade: {{curriculo.idade}}</h5>
                <h5 class="card-title">Telefone: {{curriculo.telefone}}</h5>
                <h5 class="card-title">Email: {{curriculo.email}}</h5>
                <p class="card-text">Descrição da curriculo: {{curriculo.descricao}}</p>            </div>
        </div>
    </div>
</section>

<div class="rodape"></div>