<h2>Cadastrar</h2>

<!-- formulário para mostrar vága selecionada -->
<form action="">
  <label for="">ID</label>
  <input type="text" [(ngModel)]="curriculo.id"> <br>

  <label for="">Nome</label>
  <input type="text" [(ngModel)]="curriculo.nome"> <br>

  <label for="">Idade</label>
  <input type="text" [(ngModel)]="curriculo.idade"> <br>

  <label for="">Telefone</label>
  <input type="text" [(ngModel)]="curriculo.telefone"> <br>

  <label for="">email</label>
  <input type="text" [(ngModel)]="curriculo.email"> <br>

  <label for="">Descrição</label>
  <input type="text" [(ngModel)]="curriculo.descricao"> <br>

  <button type="button" (click)="cadastrarCurriculo()">Cadastrar curriculo</button>
  <button type="button" (click)="atualizarCurriculo(curriculo.id)">Atualizar curriculo</button>
  <button type="button" (click)="excluirCurriculo(curriculo.id)">Excluir curriculo</button>
</form>

<!-- Tabela com as curriculos já cadastradas -->
<section class="listar-curriculos">
  <table class="table">
    <thead>
      <tr>
        <th>Código da curriculo</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Descrição da curriculo</th>
      </tr>
    </thead>
    <tbody>
      <tr class="curriculo-row" *ngFor="let curriculo of curriculos">
        <td>{{curriculo.id}}</td>
        <td>{{curriculo.nome}}</td>
        <td>{{curriculo.idade}}</td>
        <td>{{curriculo.telefone}}</td>
        <td>{{curriculo.email}}</td>
        <td>{{curriculo.descricao}}</td>
        <td>
          <button class="btn-listar" type="button" (click)="listarCurriculoPorId(curriculo)">
            Listar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="rodape"></div>
